body{
    width: 100%;
    margin: 0;
    padding: 0;
}

a, p{
    font-family:  "Baloo Bhaina 2", sans-serif;
    font-size: 16px;
}
h2{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 20px;
}

.headertop{
    background-image: url(img/Union.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}
.headertop img{
    width: 25px;
    height: 25px;
    padding-right: 10px;
    align-self: center;
}
.headertopleft{
    display: flex;
    justify-content: flex-start;
}
.headerlogin{
    display: flex;
    justify-content: flex-end;
    max-width: 165px;
    gap: 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-right: 20px;
}
.logo{
    padding-left: 50px;
}
.menulist{
    justify-content: space-between;
    display: flex;
    width: 500px;
}
.menulist a{
    text-decoration: none;
    color: black;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    width: 360px;
}
.search{
    display: flex;
    width: 260px;
    border: 2px solid gray;
    border-radius: 25px;
    height: 50px;
}
.search img{
    width: 50px;
    height: 50px;
    display: flex;
}
.searchsvg img{
    width: 20px;
    height: 20px;
    align-items: center;
    align-self: center;
}
.searchsvg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #0F83B2; 
}
.search input{
    width: 200px;
    padding-left: 9px;
    border-radius: 25px;
    height: 48px;
    border: none;   
    outline: none;      
    box-shadow: none;
}
.products{
    display: flex;
    padding-left: 30px;
    gap: 40px;
}
.categories{
    max-width: 280px;
}
.categories1, .categories2, .categories3{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 30px 25px ;
}
.cardlist{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    justify-content: space-between;
    width: 880px;
}
.cards{
    width: 880px;
}
.cardmenu{
    display: flex;   
    justify-content: space-between; 
    padding-right: 40px;
    width: auto;
}
.cardmenu_2{
    display: flex;
    gap: 30px;
    width: 250px;
}
.cardmenu_2 img{
    width: 30px;
    height: 30px;
}
.container-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 370px;
}
.container-card  h4,p{
    margin: 0;
    padding: none;
}
.container-card  h4{
    font-weight: normal;
}
.card1{
    background-image: url(toppicks/image\ 11.png);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column; 
}
.heart {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.heart img{
    width: 20px;
    height: 20px;
    opacity: 0.4;
}
footer{
    background-image: url(img/Footer\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 100% ; 
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footbar{
    display: flex;
    padding-left: 50px;
}
.lastbar1, .lastbar2, .lastbar3, .lastbar4{
    width: 250px;
    height: 250px;
    font-size: 16px;
}
.lastbar1 {
    padding-top: 20px;
}

@media (max-width: 576px) {
    .headertopleft p{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .menulist{
        display: none;
    }
    
}
@media (max-width: 480px) {
    .logo img{
        width: 100px;
    }
    
}
@media (max-width: 480px) {
    .searchbar{
        width: 300px;
    }
    
}
@media (max-width: 768px) {
    .searchbar img{
        display: none;
    }
    
}
@media (max-width: 768px) {
    .searchsvg img{
        display: flex;
    }
    
}
@media (max-width: 768px) {
    .logo{
        padding: 25px;
    }
    
}
@media (max-width: 400px) {
    .logo img{
        width: 80px;
    }
    
}
@media (max-width: 400px) {
    .logo{
        padding: 9px;
    }
    
}
@media (max-width: 400px) {
    .search input{
        width: 200px;
    }
    
}
@media screen and (width <= 1024px) {
    .menulist{
        max-width: 300px;
    }
    
}
@media screen and (width <= 400px) {
    .searchsvg{
       max-width: 50px;
    }
    
}
@media (max-width: 768px) {
    .products{
        max-width: 250px;
    }
    
}
@media (max-width: 576px) {
    .products{
        max-width: 180px;
        gap: 20px;
        
    }
    
}
@media (max-width: 476px) {
    .products{
        width: 160px;
        gap: 20px;
        padding-left: 2px;
    }
    
}
@media (max-width: 476px) {
    .container-card{
        width: 170px;
        
       
    }
    
}
@media (max-width: 450px) {
    .products{
        max-width: 180px;
       
    }
    
}
@media (max-width: 576px) {
    .categories1, .categories2, .categories3{
        padding: 10px 10px;
       
    }
    
}

@media (max-width: 576px) {
    .categories{
        max-width: 140px;
        margin: none;
        padding: 0;
        
    }
    
}
@media (max-width: 576px) {
    .categories p{
       font-size: 12px;
    }
    
}
@media (max-width: 576px) {
    .categories h2{
       font-size: 14px;
    }
    
}

@media screen and (width <= 768px) {
   .footbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 576px) {
   .footbar{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (width <= 992px) {
   .lastbar4{
  display: none;
  }
}
@media screen and (width <= 576px) {
   .cardmenu p{
  display: none;
  }
}
@media screen and (width <= 576px) {
   footer{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 10px;
    max-height: 800px;
  }
}
@media screen and (width <= 576px) {
   .lastbar1, .lastbar2, .lastbar3 p{
   /* width: 150px;
   height: 150px; */
   font-family: 10px;
   margin: 0;
   padding: none;
  }
}
@media screen and (width <= 576px) {
   .lastbar1, .lastbar2, .lastbar3{
   gap: 10px;
   height: 160px;
  }
}
@media screen and (width <= 576px) {
   .lastbar2 p,h2{
   margin: 0;
   padding: none;
  }
}
@media screen and (width <= 576px) {
   .lastbar1 p{
   margin: 0;
   padding: none;
  }
}


@media screen and (width <= 992px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (width <= 992px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200px;
  }
}
@media screen and (width <= 768px) {
   .cardlist{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 140px;
  }
}
@media screen and (width >= 1200px) {
   .cardlist{
   width: 1000px
  }
}
.popular img{
    width: 86px;
    height: 86px;
}
.popular{
    display: flex;
}
.flex{
    display: flex;
    gap: 5px;
}
.flex img{
    height: 15px;
    width: 15px;
    gap: 6px;
}
.popular p{
    font-size: 12px;
    font-weight: bold;
}
@media screen and (width <= 990px) {
   .popular{
  display: block;
  }
}
@media screen and (width <= 990px) {
   .popular p{
  font-size: 10px;
  }
}
@media screen and (width <= 990px) {
   .products h2{
  font-size: 15px;
  }
}
@media screen and (width <= 576px) {
   .products h2{
  font-size: 13px;
  }
}
@media screen and (width <= 768px) {
   .cards h1{
  font-size: 22px;
  }
}
@media screen and (width <= 576px) {
   .cards h1{
  font-size: 19px;
  }
}

.imgjs img{
    width: 200px;
    height: 200px;
    border: none;
    border-color: transparent;
    object-fit: contain;
}
.imgjs{
    position: relative;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
}
.starjs{
    display: flex;
    gap: 5px;
}
.starjs img{
    width: 15px;
    height: 15px;
}
.disjs{
    display: grid;
    padding: 10px 25px ;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-between;
}
.disjs4{
    display: grid;
    padding: 10px 25px ;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-between;
}
.cardjs{
    width: 200px;
    height: 300px;
    /* border: 1px solid grey; */
    
    
}

.rate{
  
     font-family: "Poppins", sans-serif;
     font-weight: 600;
}

.oldrate {
    display: flex;
    color:gray;
    font-size: 12px;
    text-decoration: line-through;
     font-family: "Poppins", sans-serif;
   align-items: center;
    font-weight: 500;
}
.oldrate p{
    font-size: 12px;
    font-weight: bold;
}
.cardoff{
    color: #25BF0C;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
}
.cardrate{
    display: flex;
    gap: 5px;
    font-family: "Poppins", sans-serif;
}
.botjs h3{
    margin: 0;
    padding: none;
    
    font-size: 13px;
}
.botjs{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 15px;
    row-gap: 5px;
    width: 190px;
    font-family: "Comfortaa", sans-serif;
}

.heartjs{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.heartjs:hover {
  opacity: 1;
}
.heartjs img{
    width: 15px;
    height: 15px;
}

@media screen and (width <= 768px) {
    .disjs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         width: 200px;
        justify-content: center;
    }
}
@media screen and (width <= 992px) {
    .disjs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 200px;
        justify-content: center;
    }
}
@media screen and (width <= 576px) {
    .cardjs{
        display: grid;
        
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
       
    }
}
@media screen and (width <= 768px) {
    .disjs{
        display: grid;
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media screen and (width <= 576px) {
    .disjs{
        display: grid;
        row-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        
    }

}

@media screen and (width <= 906px) {
    .toy{
        display: grid;
       grid:1;
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.categories2 button{
    color: white;
    background-color: #0F83B2;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    align-self: flex-end;
}


.perfrcttoys{
     display: flex;
    justify-content: space-between;
}
.toy-img img{
    width: 150px;
    height: 150px;
}
/* .pertoy{
    width: 150px;
    height: 200px;
} */

.toy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.toy-img{
    padding: 25px ;
}