body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.imgjs {
    position: relative;
}

.salejs {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #F27373;
    color: white;
    padding: 3px 6px;
    border-radius: 20px;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
   
}
.section7 h2{
     font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 38px;
    font-weight: bold   ;
}
.news h2{
     font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 38px;
    font-weight: bold   ;

}
.section6 h2{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 38px;
    font-weight: bold   ;
}
.sale button{
    background-color: rgb(242, 61, 92);
    border-radius: 5px;
    color: white;
    border: 0;
}
.headerlogin p{
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;

}
.hero{
    align-self: start;
    text-align: start;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_search{
 align-items: center;
 justify-content: space-between;
 display: flex;
 max-width: 450px;
}
.searchbar{
    width: 500px;
}
.search input {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    width: 200px;
}
.menu_search button{
    background-color: #0F83B2;
    border-radius: 50px;
    height: 55px;
    width: 55px;
    
}
.menu input{
    width: 280px;
    border-radius: 20px;
    height: 50px;
}
.menu_field a{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section1{
    background-image: url(img/Rectangle\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    /* width: 1220px; */
    justify-content: flex-end;
    padding-right: 70px;
    display: flex;
    padding-top: 90px;
}

.herrosection{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 65px;
    color: #0F83B2;
    font-weight: bold;
    text-shadow: 4px 4px  4px white;
}
.hero{
    justify-content: flex-end;
    padding-right: 70px;
    max-width: 592px;
    height: 305px;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2_2 img{
    justify-content: center;
    align-items: center;

}
.section2 h2{
    font-size: 38px;
}
.section2 p{
    font-size: 20px;
}
.toycard{
    width: 200px;
    height: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toycard img{
    width: 180px;
    height: 160px;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.section4 img{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.section5{
    justify-content: center;
}
.section5.img{
    display: flex;
    justify-content: center;
    
}

.section8 img{
    padding: 10px;
}


h2{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: none;
}
p{
    font-family: "Baloo Bhaina 2", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: none;

}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    text-align: center;
   
      font-family: "Baloo Bhaina 2", sans-serif;
      width: 600px;
}
.news button{
    height: 50px;
    width: 82px;
    border-radius: 20px;
    background-color: #0F83B2;
    color: white;
    border: 0.5px solid grey;
    font-size: 14px;
    box-sizing: border-box;

  transition: 0.5s;
  outline: none;
    
}
.news input{
    height: 50px;
    border-radius: 20px;
    width: 370px;
    box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}
.section3{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    
}

.section3 h2{
    font-size: 38px;
}
.section3_2 p{
    font-size:20px ;
}
.section3_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section3_1{
    /* max-width: 570px; */
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 5px;
}

/* .section3_2 p:hover{
    background-color: rgb(244, 127, 166);
    border-radius: 10px;
    width: 100px;
    
} */
.section3_2
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.section8 p{
    font-size: 14px;
}

.section6_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section7_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.customercare,.freeship,.return{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 400px;
    height: 188px;
    /* border: 1px  solid black; */
    border-radius: 10px;
    
}
.customercare{
    background-color:rgba(26, 176, 230, 0.1);
}
.freeship{
    background-color:rgba(251, 128, 27, 0.1);
}
.return{
    background-color:rgba(40, 235, 43, 0.1);
}

.container-card {
    display: flex;
    flex-direction: column;
    
    align-items: start;
    gap: 50px;
    height: 450px;
    
    
}
.container-card  p{
    
    align-items: flex-start;
    display: flex;

}
.container-card p{
    border: 0;
    margin: none;
    
}
.card {
    
    display: flex;
    
    align-items: start;
    flex-direction: column;
  
}
.card1{
    background-image: url(toppicks/image\ 11.png);
    /* width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between; */


}


.heart {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
h4, p{
    margin: 0;
    border: none;
}

.title {
    border-style: none;
}
.card2{
    background-image: url(toppicks/image\ 11\ \(1\).png);
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card3{
    background-image: url(toppicks/image\ 11\ \(2\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card4{
    background-image: url(toppicks/image\ 11\ \(3\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card_4{
    display: flex;
    /* justify-content: center;  */
    align-items: start;
    gap: 10px;
     
}
.card_4 p{
     border: 0;
    margin: none;
    align-items: start;
    display: flex;
    justify-content: flex-start;
}
.card p{
    border: 0;
    margin: none;
}
.card_8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card_8 p{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: none;
    align-items: flex-start;
}
.cardbalance{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card5{
    background-image: url(toppicks/image\ 11\ \(4\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card6{
    background-image: url(toppicks/image\ 11\ \(5\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card7{
    background-image: url(toppicks/image\ 11\ \(6\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.card8{
    background-image: url(toppicks/image\ 11\ \(7\).png);
     width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

@media screen and (width <= 800px) {
   .card_4,.card_8,.cardbalance{
    grid-column: 1;
    display: grid;
  }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
   .card_4,.card_8,.cardbalance{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
   .card_4,.card_8,.cardbalance{
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (width <= 768px) {
   .section8{
    grid-column: 1;
    display: grid;

  }
}
@media screen and (width <= 400px) {
   .section6 img{
    width: 300px;

  }
}
@media screen and (width <= 400px) {
   .section8{
    width: 350px;

  }
}
@media screen and (width <= 900px) {
   .section6_2,.section7_2,.section8{
    grid-column: 1;
    display: grid;

  }
}
@media screen and (width <= 900px) {
   .section4{
    grid-column: 1;
    display: grid;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
}
@media screen and (width <= 786px) {
   .section4{
    grid-column: 1;
   display: grid;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 500px;
  }
}
@media screen and (width <= 576px) {
   .section4{
    grid-column: 1;
    display: grid;
    width: 370px;
  }
}
@media screen and (width <= 576px) {
   .section3 h2{
    font-size: 28px;
  }
}
@media screen and (width <= 567px) {
   .section4 img{
    grid-column: 1;
    display: grid;
    width: 380px;
  }
}
@media screen and (width <= 567px) {
   body{
    width: 100%;
  }
}
@media screen and (width <= 400px) {
   .section4 img{
    grid-column: 1;
    display: grid;
    width: 320px;
  }
}
@media screen and (width <= 400px) {
   .section6 h2{
    font-size: 30px;
  }
}
@media screen and (width <= 700px) {
   .perfecttoy{
    grid-column: 1;
    display: grid;
  }
}
@media screen and (width <= 700px) {
   .herrosection{
    font-size: 50px;
  }
}
@media screen and (width <= 760px) {
   .herrosection .button{
    width: 150px;
  }
}
@media screen and (width <= 500px) {
   .herrosection .button{
    width: 100px;
  }
}
@media screen and (width <= 570px) {
   .herrosection{
    font-size: 35px;
    padding-right: 10px;
  }
}
@media screen and (width <= 570px) {
   .section1{
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media screen and (width <= 570px) {
   .hero{
    
    padding-right: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
   .perfecttoy{
    
    display: grid;
     grid-template-columns: repeat(5, 1fr);
  }
}
.perfecttoy{
    display: flex;
}

/* @media screen and (width <= 700px) {
   .section2_2{
    grid-column: 1;
    display: grid;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
   .section2_2{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
   .section2_2{
    display: grid;
     grid-template-columns: repeat(4, 1fr);
  }
} */
@media screen and (width <= 600px) {
   .news{
    max-width: 370px;
  }
}
@media screen and (width <= 700px) {
   .foot{
    display:grid;
    grid: 1;
    grid-template-columns: repeat(1, 1fr);
  }
}
.section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-last{
    display: flex;
    justify-content: start;
    align-items: center;
    

}
.last1{
    width: 250px;
    height: 250px;

}
.container-last p{
    font-size: 16px;
}

.linkimg{
    width: 30px;
    height: 30px;
    display: flex;
    gap: 10px;
}


@media (max-width: 768px) {
  .menu_field {
    display: none;
  }
}
@media screen and (width <= 700px) {
  .menu_search {
    max-width: 300px;
  }
}
.newsbutton{
    display: flex;

    gap: 30px;
}
@media screen and (width <= 700px) {
  .newsbutton input {
    width: 200px;
  }

}

@media screen and (width <= 700px) {
  .perfrcttoys {
    display:grid;
    grid: 1;
    grid-template-columns: repeat(1, 1fr);
  }

}

@media screen and (width <= 700px) {
  .toy{
    display: flex   ;
    flex-direction: column;
  }

}
@media screen and (width <= 900px) {
  .toy{
   display: flex;
   flex-wrap: wrap;
  }

}


.perfrcttoys{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.toy-img img{
    width: 150px;
    height: 150px;
}
